# Node / NPM
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Prisma
prisma/migrations/
prisma/dev.db

# Frontend / Vite
.vite/
*.cache/

